.appWrapper {
  max-width: 1400px;
  margin: 0 auto;
}
.upperNav {
  display: grid;
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}
.upperNav__userProducts {
  background-color: rgba(12, 12, 12, 0.589);
  border-radius: 0 0 10px 10px;
  z-index: 2;
  padding: 2%;
}
.upperNav__filters {
  background-color: rgba(12, 12, 12, 0.589);
  padding: 2%;
  border-radius: 0 0 10px 10px;
}
.upperNav__counter {
  z-index: 3;
  position: fixed;
  right: 1%;
  top: 1%;
  font-size: 0.9rem;
  background-color: rgba(44, 44, 44, 0.4);
  text-align: center;
  border-radius: 100px;
  padding: 3% 2% 2%;
  color: white;
}
.upperNav__counter span {
  font-size: 1.3rem;
  display: block;
  font-weight: bold;
}

.lowerNav {
  background-color: rgba(0, 0, 0, 0.452);
  position: fixed;
  left: 0;
  bottom: 20px;
  margin-bottom: 2%;
  width: 100%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 2.5%;
  max-height: 65px;
}
.lowerNav__banned,
.lowerNav__add {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  padding: 2vh 15%;
}

.lowerNav__add {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  padding: 1%;
  margin: 0%;
}
.menu {
  grid-column: 3/4;
}
@media (min-width: 500px) {
  .lowerNav {
    bottom: 0;
    width: 80%;
    left: 10%;
    right: 10%;
    height: auto;
  }
}
@media (min-width: 700px) {
  .upperNav__counter {
    font-size: 1.4rem;
    padding: 2%;
  }
  .lowerNav__banned,
  .lowerNav__add {
    font-size: 1.5rem;
  }
  .lowerNav {
    padding: 1.5%;
  }
}
@media (min-width: 770px) {
  .upperNav {
    grid-template-columns: 1fr 10% 1fr;
    align-items: flex-start;
  }
  .upperNav__userProducts {
    grid-column: 3/4;
    grid-row: 1;
    margin-top: 0;
    padding: 1%;
  }
  .upperNav__filters {
    grid-column: 1/2;
    grid-row: 1;
    margin-top: 0;
    padding: 1%;
  }
  .upperNav__counter {
    position: relative;
    grid-column: 2/3;
    font-size: 1.1rem;
    padding: 0.7%;
    border-radius: 10px;
    background-color: transparent;
    align-self: stretch;
  }
  .lowerNav {
    padding: 1%;
    width: 60%;
    left: 20%;
    right: 20%;
  }
}
@media (min-width: 1024px) {
  .upperNav__counter {
    padding: 0.5%;
  }
  .lowerNav__banned,
  .lowerNav__add {
    font-size: 1.8rem;
  }
}
@media (min-width: 1200px) {
  .lowerNav {
    padding: 0.5%;
    width: 40%;
    left: 30%;
    right: 30%;
  }
}
