.bannedDishes {
  background: linear-gradient(rgba(122, 0, 0, 0.4), rgba(184, 0, 0, 0.4)),
    url(../images/tomatos.jpg);
  min-height: 100vh;
  background-size: cover;
  padding: 5% 0;
}
.bannedDishes__backBtn {
  display: block;
  width: 25%;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  padding: 1% 2%;
  margin-bottom: 2%;
  margin-left: 3%;
  border: 1px solid white;
  letter-spacing: 2px;
  max-width: 150px;
  border-radius: 10px;
  cursor: pointer;
}
.bannedDishes_list {
  max-width: 1024px;
  display: grid;
  align-content: flex-start;
  justify-content: center;
  grid-template-columns: 95%;
  background-color: rgba(39, 39, 39, 0.534);
  width: 95%;
  margin: 0 auto;
  min-height: 80vh;
  border-radius: 10px;
  padding: 5% 3%;
  font-size: 1.3rem;
  color: white;
  list-style: none;
}
.bannedDishes_listElement {
  margin: 5% 0;
  border-bottom: 1px solid white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.bannedDishes_listElementBtn {
  display: block;
  width: 50%;
  font-size: 1.4rem;
  background-color: transparent;
  padding: 3% 4%;
  border: 1px solid white;
  text-transform: uppercase;
  color: white;
  margin: 3% auto;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}
.bannedDishes_listElementBtn:hover {
  background-color: rgba(219, 219, 219, 0.4);
}
p {
  font-size: 14px;
}
.bannedDishes_listName {
  width: 100%;
  font-size: 1.8rem;
  font-weight: bold;
}
@media (min-width: 500px) {
  .bannedDishes_list {
    justify-items: center;
  }

  .bannedDishes_listElement {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    align-items: center;
    padding-bottom: 2%;
    max-width: 800px;
  }
  .bannedDishes_listElementBtn {
    min-width: 80px;
  }
}
@media (min-width: 700px) {
  p {
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  p {
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  p {
    font-size: 1.4rem;
  }
  span {
    font-size: 1.6rem;
  }
}
