.drawnDishSection {
  min-height: 55vh;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-auto-rows: min-content;
}
.drawnDishSection__drawBtn--empty {
  font-size: 2rem;
  padding: 1.5% 10%;
  border-radius: 8px;
  text-transform: uppercase;
  margin-top: 20vh;
  background-color: rgba(49, 49, 49, 0.6);
  color: white;
  border: 1px solid white;
  cursor: pointer;
  letter-spacing: 1.5px;
}
.drawnDishSection__drawBtn--drawn {
  font-size: 1.5rem;
  padding: 1% 10%;
  border-radius: 8px;
  text-transform: uppercase;
  align-self: flex-start;
  margin-top: 2%;
  margin-bottom: 5%;
  background-color: rgba(126, 126, 126, 0.6);
  color: white;
  border: 1px solid white;
}
.drawnDish {
  background: linear-gradient(rgba(37, 37, 37, 0.6), rgba(31, 22, 22, 0.6));
  width: 90%;
  min-height: 35vh;
  border-radius: 10px;
  display: grid;
  grid-template-rows: auto auto auto;
  margin-bottom: 20vh;
  margin-top: 2vh;
  color: white;
}
.drawnDish__buttons {
  min-height: 5vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.drawnDish__ingredientsBtn {
  min-height: 7vh;
  border-radius: 10px 10px 0 0;
  border-style: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
.drawnDish__ingredientsBtn:hover {
  background-color: rgba(97, 97, 97, 0.918);
}
.drawnDish__name {
  color: white;
  min-height: 17vh;
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.drawnDish__shortBanBtn,
.drawnDish__banBtn,
.drawnDish__doneBtn,
.drawnDish__productsBtn {
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  border: 1px solid rgba(32, 32, 32, 0);
  cursor: pointer;
}
.drawnDish__choose {
  background-color: rgba(97, 97, 97, 0.041);
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  min-height: 40px;
  max-height: 50px;
}

.drawnDish__shortBanBtn,
.drawnDish__doneBtn {
  border-bottom-left-radius: 10px;
  min-height: 40px;
  max-height: 50px;
}
.drawnDish__banBtn,
.drawnDish__productsBtn {
  border-bottom-right-radius: 10px;
  min-height: 40px;
  max-height: 50px;
}

@media (min-width: 500px) {
  .drawnDishSection__drawBtn--drawn {
    padding: 1% 7%;
  }
  .drawnDish {
    width: 70%;
    min-height: 250px;

    max-width: 400px;
    margin-top: 0.1vh;
  }
  .drawnDish__name {
    height: 150px;
  }
  .drawnDish__ingredientsBtn {
    height: 50px;
  }
}
@media (min-width: 700px) {
  .drawnDish__ingredientsBtn {
    font-size: 1.2rem;
  }
  .drawnDish__name {
    font-size: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .drawnDish__banBtn,
  .drawnDish__productsBtn,
  .drawnDish__shortBanBtn,
  .drawnDish__doneBtn {
    font-size: 1.2rem;
  }
  .drawnDish__choose {
    font-size: 1.8rem;
  }
}
