.drawnDishSection {
  position: relative;
  min-height: 70vh;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-auto-rows: min-content;
}

.drawnDishSection__drawBtn {
  position: fixed;
  font-size: 1.3rem;
  padding: 1% 5%;
  border-radius: 8px;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  border: none;
  left: 50%;
  bottom: 2%;
  transform: translate(-50%, -10%);
  z-index: 1;
  cursor: pointer;
}
.drawnDish {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -77%);
  background: linear-gradient(rgba(37, 37, 37, 0.6), rgba(31, 22, 22, 0.6));
  width: 90%;
  min-height: 35vh;
  border-radius: 10px;
  display: grid;
  grid-template-rows: auto auto auto;
  margin-bottom: 20vh;
  margin-top: 2vh;
  color: white;
}
.drawnDish__buttons {
  min-height: 5vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.drawnDish__ingredientsBtn {
  min-height: 7vh;
  border-radius: 10px 10px 0 0;
  border-style: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
.drawnDish__ingredientsBtn:hover {
  background-color: rgba(97, 97, 97, 0.918);
}
.drawnDish__name {
  color: white;
  min-height: 17vh;
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.drawnDish__shortBanBtn,
.drawnDish__banBtn,
.drawnDish__doneBtn,
.drawnDish__productsBtn {
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  border: 1px solid rgba(32, 32, 32, 0);
  cursor: pointer;
}
.drawnDish__choose {
  background-color: rgba(97, 97, 97, 0.041);
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  min-height: 40px;
  max-height: 50px;
}

.drawnDish__shortBanBtn,
.drawnDish__doneBtn {
  border-bottom-left-radius: 10px;
  min-height: 40px;
  max-height: 50px;
}
.drawnDish__banBtn,
.drawnDish__productsBtn {
  border-bottom-right-radius: 10px;
  min-height: 40px;
  max-height: 50px;
}
.drawnDish__name--small {
  font-size: 1.6rem;
}
.display-enter {
  opacity: 0;
}
.display-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.display-exit {
  opacity: 1;
}
.display-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

@media (min-width: 500px) {
  .drawnDishSection__drawBtn {
    padding: 1% 5%;
    font-size: 1.7rem;
  }
  .drawnDish {
    width: 70%;
    min-height: 250px;

    max-width: 400px;
    margin-top: 0.1vh;
  }
  .drawnDish__name {
    height: 150px;
  }
  .drawnDish__ingredientsBtn {
    height: 50px;
  }
  .drawnDishSection__drawBtn {
    transform: translate(-50%, -15%);
  }
}
@media (min-width: 700px) {
  .drawnDish__ingredientsBtn {
    font-size: 1.2rem;
  }
  .drawnDish__name {
    font-size: 1.5rem;
  }
  .drawnDishSection__drawBtn {
    transform: translate(-50%, -15%);
  }
}
@media (min-width: 770px) {
  .drawnDish {
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 770px) {
  .drawnDish {
    top: 45%;
  }
}

@media (min-width: 1024px) {
  .drawnDish__banBtn,
  .drawnDish__productsBtn,
  .drawnDish__shortBanBtn,
  .drawnDish__doneBtn {
    font-size: 1.2rem;
  }
  .drawnDish__choose {
    font-size: 1.8rem;
  }
  .drawnDishSection__drawBtn {
    transform: translate(-50%, -25%);
  }
}
