.filters {
  position: relative;
  color: white;
  display: flex;
  min-height: 10vh;
  align-items: center;
  padding-left: 2%;
}
.filters__activeBtn {
  margin: 2%;
  min-width: 120px;
  text-transform: uppercase;
  padding: 2% 10%;
  background-color: transparent;
  border-radius: 5px;
  background-color: rgba(116, 116, 116, 0.2);
  color: white;
  border-style: none;
  min-width: 110px;
  max-width: 140px;
  max-height: 40px;
  cursor: pointer;
  transition: 0.2s;
}
.filters__activeBtn--active {
  border: 1px solid greenyellow;
}
.filters__activeBtn:hover {
  background-color: rgba(160, 160, 160, 0.2);
}
.filters__name {
  text-transform: uppercase;
  font-size: 1.2rem;
  width: 30%;
}
.filters__counter {
  position: absolute;
  right: 2%;
}
.filtersSectionButtons {
  display: flex;
  justify-content: space-around;
}
.filters__allFiltersBnt,
.filters__activeFiltersBnt,
.filters__userFiltersBnt {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 1% 0%;
  padding: 1% 2%;
  background-color: teal;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}
.filters__addForm {
  display: flex;
}
.filters__addFormBtn {
  display: block;
  margin-top: 2%;
  width: 18%;
  height: 7vh;
  max-height: 50px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  margin-left: 2%;
  border-radius: 5px;
  text-transform: uppercase;
}
.filterArr {
  padding: 2% 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}
@media (min-width: 500px) {
  .filterArr {
    padding-bottom: 0;
  }
  .filters__activeBtn {
    min-height: 40px;
    padding: 0;
  }
  .filterArr {
    padding: 0;
  }
}
@media (min-width: 770px) {
  .filters__name {
    font-size: 1.5rem;
  }
  .filters__activeBtn {
    font-size: 1.3rem;
    margin: 2% auto;
  }
  .filters__counter {
    font-size: 1.3rem;
  }
}
@media (min-width: 1024px) {
  .filters__counter {
    font-size: 1.4rem;
  }
}
