.filter {
  border: 1px solid white;
  width: 90%;
  margin: 1%;
}
.filter button {
  background-color: transparent;
  font-size: 1.5rem;
  border: none;
  width: 50%;
  text-align: center;
  cursor: pointer;
  color: white;
}

.activeFilter {
  background-color: green;
}

.fitlers {
  min-height: 10vh;
  align-items: center;
  text-align: center;
}
.filters__name {
  text-transform: uppercase;
  font-size: 1.3rem;
  width: 30%;
}
.filters__activeBtn {
  margin: 2% auto;
  text-transform: uppercase;
  width: 30%;
  padding: 2% 10%;
  background-color: transparent;
  border-radius: 5px;
  background-color: white;
  color: black;
  border-style: none;
  text-align: center;
}
.filter .filter__removeBtn {
}
