.removeStorageBtn {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  padding: 3vh 15%;
}
.removeStorageFormat {
  grid-area: 2/1/3/4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.removeStorageFormat__warning {
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  color: white;
  border-top: 1px solid white;
}
.removeStorageFormat__button {
  width: 40%;
  font-size: 2rem;
  margin: 5% 0 10%;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  text-transform: uppercase;
}
.removeStorageFormat__button--yes {
  border-color: red;
}
@media (min-width: 500px) {
  .lowerNav__banned,
  .lowerNav__add {
    padding: 0;
  }
}
